<html>
<head>
    <meta property="qc:admins" content="3474706167675477676654"/>
</head>
<body>
<form>
    <table>
        <tr>
            <td>
                用户名：
            </td>
            <td>
                <input type="text" name="username" value=""/>
            </td>
        </tr>
        <tr>
            <td>
                用户名：
            </td>
            <td>
                <input type="password" name="password" value=""/>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" name="submit" value="登录"/>
                <img src="__PUBLIC__/images/Connect_logo_4.png">
            </td>
        </tr>
    </table>
</form>
</body>
</html>

